* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #000;
  overflow-x: hidden;
  transition: all 0.5s ease;
  background-color: #fff;
  letter-spacing: 0.3px;
}

html,
body {
  overflow-x: hidden !important;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  color: #000;
}

p {
  color: #000;
}

.title {
  font-size: clamp(24px, 4vw, 32px);
  font-weight: 600;
}

.subtitle {
  font-size: clamp(18px, 2vw, 24px);
  font-weight: 600;
}

.small__title {
  font-size: clamp(16px, 2vw, 18px);
  font-weight: 600;
}

.large__text {
  font-size: clamp(16px, 2vw, 18px);
  font-weight: 600;
}

.normal__text {
  font-size: clamp(14px, 2vw, 16px);
  font-weight: 600;
}

.small__text {
  font-size: clamp(12px, 1vw, 14px);
  font-weight: 600;
}

.meta__text {
  font-size: 14px;
  font-weight: 500;
  color: #cfced2;
}

.m__tb {
  margin-top: 50px;
  margin-bottom: 50px;
}
.m__tb--t {
  margin-top: 50px;
}
.m__tb--b {
  margin-bottom: 50px;
}

.p {
  padding: 50px;
}
.p__tb {
  padding-top: 50px;
  padding-bottom: 50px;
}
.p__tb--t {
  padding-top: 50px;
}
.p__tb--b {
  padding-bottom: 50px;
}

input {
  outline: none !important;
  box-shadow: none !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

textarea.form-control::placeholder,
input.form-control::placeholder {
  color: #797373;
  font-size: 14px;
}

.l__button {
  letter-spacing: 0.15rem;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
  color: #fff !important;
  text-transform: capitalize;
  border: 2px solid #fff;
  font-size: clamp(14px, 2vw, 16px);
  font-weight: 600;
  padding: 10px 16px;
  background-color: #fff;
  border-radius: 6px;
  display: inline-block;
  transition: all 1s ease;
  text-decoration: none;
  text-align: center;
}
.l__button--primary {
  color: #fff;
  background-color: #8370fe;
  border-color: #8370fe;
}
.l__button--secondary {
  color: #fff;
  background-color: #bfb7ff;
  border-color: #bfb7ff;
}
.l__button--secondary:hover {
  border-color: #8370fe;
}

.login-register {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.login-register a {
  text-decoration: none;
  color: blue;
}
.login-register .signin__error,
.login-register .signup__error {
  color: #e72b2b;
  text-align: center;
  margin: 10px 0;
}
.login-register .form__group {
  margin-bottom: 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.login-register .form__group input {
  padding: 18px;
  outline: none;
  border: 1px solid #82828c;
  width: 100%;
  border-radius: 10px;
  font-size: 16px;
}
.login-register button {
  width: 100%;
  padding: 20px;
  outline: none;
  background: #8370fe;
  border: none;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
}

.signin {
  width: 500px;
  border: 1px solid #82828c;
  padding: 40px;
  border-radius: 10px;
}
.signin__header {
  text-align: center;
  margin-bottom: 40px;
}
.signin .form__group {
  width: 100%;
  margin-bottom: 16px;
}
.signin__footer {
  text-align: center;
  margin-top: 20px;
}

.signup {
  width: 600px;
  border: 1px solid #82828c;
  padding: 40px;
  border-radius: 10px;
  display: none;
}
.signup__header {
  text-align: center;
  margin-bottom: 40px;
}
.signup__footer {
  text-align: center;
  margin-top: 20px;
}

.dark__theme {
  color: #fff;
  background: #111;
}
.dark__theme button {
  color: #fff;
}
.dark__theme h1,
.dark__theme h2,
.dark__theme h3,
.dark__theme h4,
.dark__theme h4,
.dark__theme h5,
.dark__theme h6,
.dark__theme p {
  color: #fff;
}
.dark__theme .sidebar {
  background: #000;
}
.dark__theme .sidebar__toggle {
  background: #111;
}
.dark__theme .sidebar__bottom a {
  color: #8370fe;
}
.dark__theme .sidebar ul li a {
  color: #8370fe;
}
.dark__theme .dashboard .categories ul {
  color: #fff !important;
}

img {
  width: 50px;
  max-width: 50px;
  height: 50px;
  border-radius: 50%;
}

main {
  display: flex;
}

.sidebar {
  position: fixed;
  bottom: 0;
  left: 0;
  background: #f6f4ff;
  width: 280px;
  height: 100vh;
  padding: 40px 20px;
  z-index: 1;
  transition: all 0.5s ease-in-out;
}
.sidebar.close {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 0;
  width: 80px;
}
.sidebar.close span {
  display: none;
}
.sidebar.close .sidebar__toggle {
  right: -25px;
}
.sidebar.close .sidebar__header {
  gap: 0;
}
.sidebar.close .container,
.sidebar.close .sidebar__bottom,
.sidebar.close ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-direction: column;
}
.sidebar.close .sidebar__item.active {
  height: 50px;
  width: 50px;
  overflow: hidden;
}
.sidebar.close .theme__button .checkbox-label {
  width: 70px;
}
.sidebar.close .theme__button .checkbox-label .ball {
  left: 3px;
  display: block;
}
.sidebar.close .theme__button .bx-moon,
.sidebar.close .theme__button .bx-sun {
  font-size: 20px;
}
.sidebar.close .theme__button .checkbox:checked + .checkbox-label .ball {
  transform: translateX(32px);
}
.sidebar .container {
  position: relative;
}
.sidebar__toggle {
  position: absolute;
  cursor: pointer;
  right: -34px;
  top: 40px;
  height: 40px;
  width: 40px;
  overflow: hidden;
  text-align: center;
  outline: none;
  border: none;
  font-size: 24px;
  border-radius: 50%;
  background: #fff;
}
.sidebar__header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  margin-bottom: 20px;
}
.sidebar__content ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.sidebar__content ul .sidebar__item {
  padding: 12px;
}
.sidebar__content ul .sidebar__item.active {
  background: #8370fe;
  border-radius: 30px;
}
.sidebar__content ul .sidebar__item.active a {
  color: #fff;
}
.sidebar__content ul .sidebar__item a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #46454b;
  font-size: 16px;
}
.sidebar__content ul .sidebar__item a i {
  font-size: 24px;
}
.sidebar__bottom {
  margin-top: 60px;
}
.sidebar__bottom .logout a {
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.sidebar__bottom .logout a i {
  font-size: 24px;
}
.sidebar__bottom .theme__button {
  margin-top: 20px;
}
.sidebar__bottom .theme__button .checkbox {
  opacity: 0;
  position: absolute;
}
.sidebar__bottom .theme__button .checkbox-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  position: relative;
  width: 85px;
  height: 38px;
  border-radius: 30px;
  border: 1px solid #82828c;
  padding: 8px;
  cursor: pointer;
}
.sidebar__bottom .theme__button .bx-moon,
.sidebar__bottom .theme__button .bx-sun {
  color: #82828c;
  font-size: 24px;
}
.sidebar__bottom .theme__button .checkbox-label .ball {
  background-color: #8370fe;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 5px;
  top: 3px;
  border-radius: 50%;
  transition: transform 0.2s linear;
  opacity: 0.5;
}
.sidebar__bottom .theme__button .checkbox:checked + .checkbox-label .ball {
  transform: translateX(43px);
}

.dashboard {
  width: 100%;
  padding: 40px 24px;
  margin-left: 280px;
  transition: all 0.5s ease-in-out;
}
.dashboard.open {
  margin-left: 80px;
}
.dashboard .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  margin-bottom: 40px;
}
.dashboard .header__profile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.dashboard__header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: none;
}
.dashboard .amount__cards {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}
.dashboard .amount__cards .card__grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  flex-basis: 100%;
}
.dashboard .amount__cards .amount__card {
  border: 2px solid #cfced2;
  border-radius: 20px;
  padding: 20px;
  flex-basis: 100%;
}
.dashboard .amount__cards .amount__card .amount__card--title {
  margin-bottom: 32px;
}
.dashboard .amount__cards .amount__card .amount__card--body .comparision {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-top: 12px;
}
.dashboard .amount__cards .amount__card .amount__card--body .comparision .difference {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0;
  background: #e4f9e6;
  border-radius: 30px;
  color: #6faa75;
  padding: 6px;
  font-size: 14px;
}
.dashboard .amount__cards .amount__card .amount__card--body .comparision .difference.expense {
  background: #ffebec;
  color: #e72b2b;
}
.dashboard .savingbudgets {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  margin-top: 16px;
}
.dashboard .savingbudgets .budget {
  flex-basis: 100%;
  border: 2px solid #cfced2;
  padding: 20px;
  border-radius: 20px;
}
.dashboard .savingbudgets .budget__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
.dashboard .savingbudgets .budget__content canvas {
  height: 250px !important;
  width: 100% !important;
  max-width: 300px;
}
.dashboard .savingbudgets .budget .categories {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-top: 20px;
}
.dashboard .savingbudgets .budget .categories li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #46454b;
}
.dashboard .savingbudgets .budget .categories li i {
  font-size: 12px;
}
.dashboard .savingbudgets .saving {
  flex-basis: 100%;
  border: 2px solid #cfced2;
  border-radius: 20px;
  padding: 20px;
}
.dashboard .savingbudgets .saving h2 {
  margin-bottom: 16px;
}
.dashboard .savingbudgets .saving__items {
  margin-top: 16px;
}
.dashboard .savingbudgets .saving__items--title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
.dashboard .savingbudgets .saving__items .progress {
  margin-top: 10px;
}
.dashboard .savingbudgets .saving__items .progress__bar {
  position: relative;
  width: 100%;
  height: 16px;
  border-radius: 16px;
  background: #ddd;
}
.dashboard .savingbudgets .saving__items .progress__bar--inner {
  position: absolute;
  content: "";
  width: 50%;
  height: 16px;
  background: #8370fe;
  border-radius: 20px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  line-height: 16px;
}
.dashboard .expenses__analytics {
  margin-top: 16px;
}
.dashboard .expenses__analytics .expenses {
  border: 2px solid #cfced2;
  border-radius: 20px;
  padding: 20px;
  overflow: auto;
}
.dashboard .expenses__analytics .expenses__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  margin-bottom: 16px;
}
.dashboard .expenses__analytics .expenses__header button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  font-size: 16px;
  border: 1px solid #cfced2;
  background: none;
  padding: 8px 12px;
  border-radius: 30px;
}
.dashboard .expenses__analytics .expenses__list {
  border-collapse: collapse;
  width: 100%;
  border-radius: 8px;
}
.dashboard .expenses__analytics .expenses__list thead {
  background: #f6f4ff;
}
.dashboard .expenses__analytics .expenses__list th {
  padding: 16px;
  font-size: 14px;
  text-align: center;
  text-align: left;
  color: #8370fe;
  text-transform: uppercase;
  font-weight: 500;
}
.dashboard .expenses__analytics .expenses__list th:first-child {
  border-radius: 30px 0 0 30px;
}
.dashboard .expenses__analytics .expenses__list th:last-child {
  border-radius: 0 30px 30px 0;
}
.dashboard .expenses__analytics .expenses__list tr {
  border-bottom: 1px solid #eee;
}
.dashboard .expenses__analytics .expenses__list tr:last-child {
  border-bottom: none;
}
.dashboard .expenses__analytics .expenses__list td {
  padding: 20px 16px;
}
.dashboard .expenses__analytics .money__flow {
  border: 2px solid #cfced2;
  border-radius: 20px;
  padding: 20px;
  margin-top: 16px;
  height: 400px;
}
.dashboard .expenses__analytics .money__flow #money__flow {
  width: 100% !important;
}

@media all and (max-width: 1024px) {
  .amount__cards {
    flex-direction: column;
  }
  .amount__cards .card__grid {
    width: 100%;
  }
}
@media all and (max-width: 991px) {
  .sidebar {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 0;
    width: 80px;
  }
  .sidebar span {
    display: none;
  }
  .sidebar__header {
    gap: 0;
  }
  .sidebar .container, .sidebar__bottom,
  .sidebar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
    flex-direction: column;
  }
  .sidebar__item.active {
    height: 50px;
    width: 50px;
    overflow: hidden;
  }
  .sidebar .theme__button .checkbox-label {
    width: 70px;
  }
  .sidebar .theme__button .checkbox-label .ball {
    left: 3px;
    display: block;
  }
  .sidebar .theme__button .bx-moon,
  .sidebar .theme__button .bx-sun {
    font-size: 20px;
  }
  .sidebar .theme__button .checkbox:checked + .checkbox-label .ball {
    transform: translateX(32px);
  }
  .dashboard {
    margin-left: 80px;
  }
}
@media (max-width: 767px) {
  main {
    flex-direction: column;
  }
  .sidebar {
    position: fixed;
    width: 100%;
    height: 50px;
    align-items: center;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
  }
  .sidebar__header {
    display: none;
  }
  .sidebar__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0;
    width: 100%;
  }
  .sidebar__bottom,
  .sidebar .theme__button {
    margin: 0;
  }
  .sidebar .container, .sidebar__bottom,
  .sidebar ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    flex-direction: row;
    width: 100%;
  }
  .savingbudgets {
    flex-direction: column;
  }
  .savingbudgets .analytics__budget,
  .savingbudgets .saving {
    width: 100%;
  }
  .dashboard {
    margin-left: 0;
  }
  .dashboard .header__welcome {
    display: none;
  }
  .dashboard__header {
    display: flex;
  }
}
@media (max-width: 576px) {
  .card__grid {
    flex-direction: column;
  }
  .card__grid .amount__card {
    width: 100%;
  }
  .sidebar ul {
    gap: 0 !important;
  }
  .sidebar__item {
    padding: 8px !important;
  }
  .sidebar__item.active {
    height: 40px;
    width: 40px;
    overflow: hidden;
  }
  .dashboard__header span {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
